<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty name="APP_NAME" source="spring.application.name"/>
    <springProperty name="LOGSTASH_DESTINATION" source="logstash.destination" defaultValue="localhost:4560"/>
    <springProperty name="LOGSTASH_ENABLE" source="logstash.enable" defaultValue="false"/>

    <if condition="${LOGSTASH_ENABLE}">
        <then>
            <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
                <!--可以访问的logstash日志收集端口-->
                <destination>${LOGSTASH_DESTINATION}</destination>
                <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder">
                    <includeCallerData>true</includeCallerData>
                    <includeMdc>true</includeMdc>
                    <!--自定义字段 区分项目-->
                    <customFields>{"app_name":"${APP_NAME}"}</customFields>
                </encoder>
            </appender>
            <root level="INFO">
                <appender-ref ref="LOGSTASH"/>
            </root>
        </then>
        <else>
            <root level="INFO">
                <appender-ref ref="CONSOLE"/>
            </root>
        </else>
    </if>

</configuration>
